* {
  box-sizing: border-box;
}

body {

  margin: 0;
      height: 100vh;
      background-color: aliceblue;
      font-family: 'Cuprum', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    font-family: 'Permanent Marker', cursive;
}

#sign-out, #delete-account {
font-family: 'Cuprum', sans-serif;
font-size: 16px;
border-radius: 10px;
}

#container {
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: 1px solid darkslateblue;
  background-color: #ffffff;
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: center;
}

/
#photo-container {
  background-color: #EEE;
  border: 1px solid darkslateblue;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

/**Reserved if we want a user to have the option to add a photo:*/*/
/*
#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}*/

/*@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}*/
